@import "../../style/style.scss";

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  border-radius: 5px;
  background-color: $lightSecondaryColor;
}

.lInput {
  height: 30px;
  padding: 10px;
  border-radius: 5px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: $primaryColor;
  color: $baseColor;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: $secondaryColor;
  cursor: not-allowed;
}
