$primaryColor: #cd6438;
$darkPrimaryColor: #28201f;
$lightPrimaryColor: #e3c49a;
$secondaryColor: #423e3d;
$lightSecondaryColor: #d4cdc2;
$accentColor: #719d71;
$baseColor: #fafafa;
$textColor: #d3d3d3;

$font: "Tangerine", cursive;

