@import "../../style/style.scss";

.signup {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  border-radius: 5px;
  background-color: $lightSecondaryColor;
}

.sInput {
  height: 30px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}

.sButton {
  border: none;
  padding: 10px 20px;
  background-color: $primaryColor;
  color: $baseColor;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.sButton:disabled {
  background-color: $secondaryColor;
  cursor: not-allowed;
}
