@import "../../style/style.scss";

.navbar {
  height: 50px;
  padding: 7px;
  background-color: $darkPrimaryColor;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: $baseColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: $font;
  font-weight: 700;
  font-size: 25px;
  font-style: swap;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  background-color: $primaryColor;
  color: $baseColor;
  border-radius: 7px;
}

